
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin:0;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	margin: 25px 0 25px 0;
	
}
header img {
	transform: scale(0.65);
}
.searchContainer {
	display: flex;
	min-height: 200px;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #f9f9f9;

}

.searchContainer .searchBox {
	width: 70%;
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	position: relative;
	padding: 0px 20px;

}
.searchContainer .searchBox input[type=text] {
	padding-left: 30px;
	height: 50px;
	border-radius: 8px;
	border:none;
	box-shadow: 0px 0px 25px rgba(15,15,15,0.38)
	font-size: 18px;
	width: 80%;
	color: #172e5e;
	margin-right: 30px;
	font-size: 18px;
	text-decoration-style:  none;

}

.searchContainer .searchBox span {
	position: absolute;
	left: calc(70% - 10px);

}

.searchContainer .searchBox button {
	margin: 0 10px;
	background-color: #2b70ef;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	height: 50px;
	width: 120px;
	box-shadow: 0px 0px 25px rgba(15,15,15,0.38);
	cursor: pointer;
}


.randomContainer {
	padding: 30px 10px 50px 10px;
}

.randomContainer button {
	cursor: pointer;
	color: #172e5e;
	border: 3px solid black;
	padding: 0 50px;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	height: 50px;
	width: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	box-shadow: 0px 0px 25px rgba(15,15,15,0.18)
}
.randomContainer button span {
	padding-left:10px;
}



.body {
	display: flex;
	flex-direction: column ;
	justify-content: center;
	align-items: center;
}

.HeaderText {
	margin: 40px 20px 30px 20px;
	font-size: 40px;
	font-weight: 700;
	color: #172e5e;
}
.phrasesContainer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
	flex-wrap: wrap;
	padding:0;
	/*border:10px solid black;*/
}

.phrasesContainer .phraseBox {
	max-width: 40%;
	padding: 20px;
	box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.18);
	color: #172e5e;
	margin: 20px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.phrasesContainer .phraseBox .quote {
	margin-top: 20px;
	text-align: center;
}
.phrasesContainer .phraseBox .PhraseTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 15px;
	background-color: #5d97fd;
	font-size: 16px;
	
	
}
.phrasesContainer .phraseBox .PhraseTitle .genre {
	padding:0 10px;
	margin:10px;
	
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	margin: 25px 0 25px 0;
	
}
footer img {
	transform: scale(0.65);
}